<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tutorial</string>
	<string>A</string>
	<string>Die Face-5</string>
	<string>Taurus</string>
	<string>Aries</string>
	<string>Recycle</string>
	<string>Atom</string>
	<string>G</string>
	<string>@</string>
	<string>H</string>
	<string>End</string>
</array>
</plist>
