<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tutorial</string>
	<string>G</string>
	<string>O</string>
	<string>O</string>
	<string>D</string>
	<string>L</string>
	<string>U</string>
	<string>C</string>
	<string>K</string>
	<string>!</string>
	<string>Yellow Smiley</string>
	<string>F</string>
	<string>E</string>
	<string>Left Arrow</string>
	<string>P</string>
	<string>4</string>
	<string>=</string>
	<string>Roman IV</string>
	<string>:</string>
	<string>S</string>
	<string>%</string>
	<string>Copyright</string>
	<string>A</string>
	<string>Q</string>
	<string>Half</string>
	<string>$</string>
	<string>Euro</string>
	<string>Down Arrow</string>
	<string>V</string>
	<string>&amp;</string>
	<string>Y</string>
	<string>Pawn</string>
	<string>Fahrenheit</string>
	<string>Celsius</string>
	<string>@</string>
	<string>J</string>
	<string>0</string>
	<string>&lt;</string>
	<string>9</string>
	<string>:(</string>
	<string>Z</string>
	<string>Taurus</string>
	<string>Aquarius</string>
	<string>Clubs</string>
	<string>Mars</string>
	<string>Heart</string>
	<string>Venus</string>
	<string>Nuke</string>
	<string>Skull</string>
	<string>Peace</string>
	<string>To Be Continued</string>
</array>
</plist>
