<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorial</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>X</string>
		<key>answers</key>
		<array>
			<string>cross</string>
		</array>
	</dict>
	<key>@</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>@</string>
		<key>answers</key>
		<array>
			<string>at</string>
			<string>dog</string>
		</array>
	</dict>
	<key>A</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>A</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>B</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>B</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>C</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>C</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>D</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>D</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>E</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>E</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>F</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>F</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>G</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>G</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>H</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>H</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>I</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>I</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>J</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>J</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>K</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>K</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>L</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>L</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>M</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>M</string>
		<key>answers</key>
		<array/>
	</dict>
	<key>End</key>
	<dict>
		<key>levelType</key>
		<integer>0</integer>
		<key>objectStr</key>
		<string>END</string>
		<key>answers</key>
		<array>
			<string>end</string>
			<string>game over</string>
		</array>
	</dict>
</dict>
</plist>
