<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tutorial</string>
	<string>Apple Logo</string>
	<string>@</string>
	<string>Х</string>
	<string>У</string>
	<string>Й</string>
	<string>Olympic Rings</string>
	<string>Winnie Pooh</string>
	<string>7</string>
	<string>Pawn</string>
	<string>Clubs</string>
	<string>9</string>
	<string>Е</string>
	<string>Down Arrow</string>
	<string>#</string>
	<string>;</string>
	<string>Т</string>
	<string>Copyright</string>
	<string>%</string>
	<string>Cheburashka</string>
	<string>Preved</string>
	<string>Pound</string>
	<string>Я</string>
	<string>Yellow Smiley</string>
	<string>Ф</string>
	<string>Half</string>
	<string>$</string>
	<string>Euro</string>
	<string>Left Arrow</string>
	<string>&amp;</string>
	<string>+</string>
	<string>Queen</string>
	<string>Division</string>
	<string>Celsius</string>
	<string>Musical Note</string>
	<string>3</string>
	<string>USB</string>
	<string>Batman</string>
	<string>USSR</string>
	<string>С</string>
	<string>Р</string>
	<string>И</string>
	<string>Flag EU</string>
	<string>Darth Vader</string>
	<string>Pool Ball 8</string>
	<string>=</string>
	<string>Trademark</string>
	<string>Sputnik</string>
	<string>Infinity</string>
	<string>Olympic Bear</string>
	<string>G-Clef</string>
	<string>Roman IV</string>
	<string>К</string>
	<string>\</string>
	<string>УГ</string>
	<string>Flag Russia</string>
	<string>&lt;</string>
	<string>?</string>
	<string>Envelope</string>
	<string>Alpha</string>
	<string>Pisces</string>
	<string>}</string>
	<string>Karlson</string>
	<string>FreeBSD</string>
	<string>Flag Canada</string>
	<string>^</string>
	<string>Taurus</string>
	<string>Bishop</string>
	<string>Scissors</string>
	<string>!</string>
	<string>Quake I</string>
	<string>Beta</string>
	<string>Ю</string>
	<string>Г</string>
	<string>Yen</string>
	<string>~</string>
	<string>Atom</string>
	<string>[</string>
	<string>Omega</string>
	<string>Flag UK</string>
	<string>Aquarius</string>
	<string>Biohazard</string>
	<string>Roman XII</string>
	<string>Umbrella</string>
	<string>David&apos;s Star</string>
	<string>Scorpio</string>
	<string>Quake III</string>
	<string>Flag Korea</string>
	<string>Ж</string>
	<string>О</string>
	<string>П</string>
	<string>А</string>
	<string>Psi</string>
	<string>Tux</string>
	<string>;)</string>
	<string>Comet</string>
	<string>Homer Simpson</string>
	<string>Peace</string>
	<string>ХЗ</string>
	<string>Ankh</string>
	<string>To Be Continued</string>
</array>
</plist>
