<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tutorial</string>
	<string>У</string>
	<string>Д</string>
	<string>А</string>
	<string>Ч</string>
	<string>И</string>
	<string>!</string>
	<string>Preved</string>
	<string>2</string>
	<string>1</string>
	<string>0</string>
	<string>Г</string>
	<string>Т</string>
	<string>Е</string>
	<string>В</string>
	<string>Б</string>
	<string>4</string>
	<string>=</string>
	<string>Roman IV</string>
	<string>:</string>
	<string>Ю</string>
	<string>Copyright</string>
	<string>Я</string>
	<string>%</string>
	<string>Й</string>
	<string>Half</string>
	<string>$</string>
	<string>Euro</string>
	<string>Down Arrow</string>
	<string>&amp;</string>
	<string>+</string>
	<string>Pawn</string>
	<string>Division</string>
	<string>Celsius</string>
	<string>Musical Note</string>
	<string>Ж</string>
	<string>3</string>
	<string>&lt;</string>
	<string>9</string>
	<string>:(</string>
	<string>З</string>
	<string>Taurus</string>
	<string>Aquarius</string>
	<string>Clubs</string>
	<string>Mars</string>
	<string>Heart</string>
	<string>Venus</string>
	<string>Nuke</string>
	<string>Skull</string>
	<string>Peace</string>
	<string>To Be Continued</string>
</array>
</plist>
